<div class="cards-container">

  <% @listings.each do |listing| %>
    <div id="<%=listing.id%>" class="ProductCard product">
      <%= link_to(etsy_listing_url(listing.etsy_listing_id)) do %>
        <div class="product-img-container">
          <div class="hover-container">
            <div class="product-image" style="background-image:url('<%= listing.css_image_url %>');">
            </div>
          <% if user_signed_in? %>
            <% if current_user.favorites.where(:listing_id => listing.id).first.nil? %>
              <%= link_to "", "", :id => "fav", :class => "", :'data-id' => "#{listing.id}" %>
            <% else %>
              <%= link_to "", "", :id => "fav", :class => "active", :'data-id' => "#{listing.id}" %>
            <% end %>
          <% end %>
            </a>
          </div>
        </div>
      <% end %>
      <div class="top-right">
        <a href="" target="_blank" rel="nofollow" class="card-price button" ><%= number_to_currency(listing.price, :precision => 0) %></a>
      </div>

    </div>

  <% end %>


</div>


