<!DOCTYPE html>
<html>
<head>
  <title>Btsy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<div class="primary-nav">
  <div class="wrapper navish">

    <div class="left-side">
      <div class="logo">
       BTSY<small>.io</small>
      </div>
      <h1 class="slogan">Homemade gifts for you and your friends</h1>
    </div>

    <div class="right-side">
      <div class="account">
          <% if user_signed_in? %>
            <%= current_user.email %>
            <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path %>
          <% end %>
      </div>
    </div>

  </div>
</div>

<div class="GlobalNav-spacer"></div>
<p style="position:absolute;z-index:100;top:0;left:0" class="notice"><%= notice %></p>
<p style="position:absolute;z-index:100;top:0;left:0" class="alert"><%= alert %></p>
<div class="wrapper">
  <%= yield %>
</div>

</body>
</html>


<!-- <div class="GlobalNav-browse">
    <div class="GlobalNav-layout wrapper">
      <div class="GlobalNav-leftSide">
        <%= link_to "", root_url, :id => "lockup" %>
        <div class="nav-tabs">
          <%= link_to "Btsy", root_url %>
        </div>
      </div>

    </div>
  </div> -->
